<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://i.imgur.com/3e22nFw.png" type="image/png">
    <title>404</title>
    <style>
        body {
            font-family: cursive;
            background-image: url('https://i.imgur.com/hHgrtqT.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0;
            height: 100vh;
            overflow: hidden;
        }
        h3 {
            color: beige;
            text-align: center;
        }
    </style>
</head>
<body>
<h3>404</h3>
<h3>You failed the survival test, you should go back to the <a href="/">beginning</a></h3>
</body>
</html>